#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    color: var(--main-color);
}

#login #cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    padding: 20px;
}

#login form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
    width: 30vw;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}

#login h4 {
    margin-top: 2vh;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#login button {
    width: 50%;
    margin: 2vh auto;
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    padding: 5px;
    cursor: pointer;

}

#login input {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 2px 10px;
    width: 90%;
    height: 30px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 400;
}

#login p {
    font-size: 12px;
    letter-spacing: 0.2em;
    color: rgb(190, 190, 190);
}

#login input::placeholder {
    color: rgb(190, 190, 190);
    font-size: 14px;
}

#login #alert {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    max-height: 110vh;
    transition: 1s;
    opacity: 1;
}

#login input:valid {
    color: white;
    background-color: var(--main-color);
}

#login #alert p {
    font-size: 18px;
    letter-spacing: 0;
    color: rgb(255, 0, 0) !important;
}